## Data cleaning and preprocessing with Pandas

In [2]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder, PolynomialFeatures

df = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')
print("DataFrame loaded from CSV file:\n", df.head())

DataFrame loaded from CSV file:
    Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [4]:
# 1. Identify missing values in the DataFrame.
def identify_missing_values(dataframe):
    return dataframe.isnull().sum()

print("\nMissing values in each column:\n", identify_missing_values(df))

Missing values in each column:
 Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [6]:
# 2. Drop rows with any missing values.
def drop_rows_with_missing_values(dataframe):
    return dataframe.dropna()

df_dropped_rows = drop_rows_with_missing_values(df)
print("\nDataFrame after dropping rows with missing values:\n", df_dropped_rows.head())

DataFrame after dropping rows with missing values:
    Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [8]:
# 3. Drop columns with any missing values.
def drop_columns_with_missing_values(dataframe):
    return dataframe.dropna(axis=1)

df_dropped_cols = drop_columns_with_missing_values(df)
print("\nDataFrame after dropping columns with missing values:\n", df_dropped_cols.head())

DataFrame after dropping columns with missing values:
    Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [10]:
# 4. Fill missing values with a specific value.
def fill_missing_values_with_value(dataframe, value):
    return dataframe.fillna(value)

df_filled = fill_missing_values_with_value(df, 0)
print("\nDataFrame after filling missing values with 0:\n", df_filled.head())

DataFrame after filling missing values with 0:
    Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [12]:
# 5. Fill missing values using forward fill and backward fill methods.
def fill_missing_values_ffill(dataframe):
    return dataframe.ffill()

def fill_missing_values_bfill(dataframe):
    return dataframe.bfill()

df_filled_ffill = fill_missing_values_ffill(df)
print("\nDataFrame after forward filling missing values:\n", df_filled_ffill.head())

df_filled_bfill = fill_missing_values_bfill(df)
print("\nDataFrame after backward filling missing values:\n", df_filled_bfill.head())

DataFrame after forward filling missing values:
    Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

DataFrame after backward filling missing values:
    Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [14]:
# 6. Interpolate missing values.
def interpolate_missing_values(dataframe):
    dataframe = dataframe.infer_objects(copy=False)
    return dataframe.apply(lambda col: col.interpolate() if col.dtype != 'object' else col)

df_interpolated = interpolate_missing_values(df)
print("\nDataFrame after interpolating missing values:\n", df_interpolated.head())

DataFrame after interpolating missing values:
    Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [16]:
# 7. Convert a column to a different data type.
def convert_column_type(dataframe, column_name, new_type):
    dataframe[column_name] = dataframe[column_name].astype(new_type)
    return dataframe

df_converted = convert_column_type(df, 'Age', 'float')
print("\nDataFrame after converting 'Age' column to float:\n", df_converted.head())

DataFrame after converting 'Age' column to float:
     Age Attrition     BusinessTravel  DailyRate              Department  \
0  41.0       Yes      Travel_Rarely       1102                   Sales
1  49.0        No  Travel_Frequently        279  Research & Development
2  37.0       Yes      Travel_Rarely       1373  Research & Development
3  33.0        No  Travel_Frequently       1392  Research & Development
4  27.0        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [18]:
# 8. Apply a function to transform the values of a column.
def transform_column_values(dataframe, column_name, func):
    dataframe[column_name] = dataframe[column_name].apply(func)
    return dataframe

df_transformed = transform_column_values(df, 'MonthlyIncome', lambda x: x / 1000)
print("\nDataFrame after transforming 'MonthlyIncome' column values:\n", df_transformed.head())

DataFrame after transforming 'MonthlyIncome' column values:
     Age Attrition     BusinessTravel  DailyRate              Department  \
0  41.0       Yes      Travel_Rarely       1102                   Sales
1  49.0        No  Travel_Frequently        279  Research & Development
2  37.0       Yes      Travel_Rarely       1373  Research & Development
3  33.0        No  Travel_Frequently       1392  Research & Development
4  27.0        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [20]:
# 9. Normalize a column using Min-Max scaling.
def normalize_column(dataframe, column_name):
    scaler = MinMaxScaler()
    dataframe[column_name] = scaler.fit_transform(dataframe[[column_name]])
    return dataframe

df_normalized = normalize_column(df, 'MonthlyIncome')
print("\nDataFrame after normalizing 'MonthlyIncome' column:\n", df_normalized.head())

DataFrame after normalizing 'MonthlyIncome' column:
     Age Attrition     BusinessTravel  DailyRate              Department  \
0  41.0       Yes      Travel_Rarely       1102                   Sales
1  49.0        No  Travel_Frequently        279  Research & Development
2  37.0       Yes      Travel_Rarely       1373  Research & Development
3  33.0        No  Travel_Frequently       1392  Research & Development
4  27.0        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [22]:
# 10. Standardize a column (z-score normalization).
def standardize_column(dataframe, column_name):
    scaler = StandardScaler()
    dataframe[column_name] = scaler.fit_transform(dataframe[[column_name]])
    return dataframe

df_standardized = standardize_column(df, 'MonthlyIncome')
print("\nDataFrame after standardizing 'MonthlyIncome' column:\n", df_standardized.head())

DataFrame after standardizing 'MonthlyIncome' column:
     Age Attrition     BusinessTravel  DailyRate              Department  \
0  41.0       Yes      Travel_Rarely       1102                   Sales
1  49.0        No  Travel_Frequently        279  Research & Development
2  37.0       Yes      Travel_Rarely       1373  Research & Development
3  33.0        No  Travel_Frequently       1392  Research & Development
4  27.0        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [24]:
# 11. Identify duplicate rows in the DataFrame.
def identify_duplicate_rows(dataframe):
    return dataframe[dataframe.duplicated()]

duplicates = identify_duplicate_rows(df)
print("\nDuplicate rows in DataFrame:\n", duplicates)

Duplicate rows in DataFrame:
 Empty DataFrame
Columns: [Age, Attrition, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EmployeeCount, EmployeeNumber, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NumCompaniesWorked, Over18, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager]
Index: []

[0 rows x 35 columns]

In [26]:
# 12. Drop duplicate rows.
def drop_duplicate_rows(dataframe):
    return dataframe.drop_duplicates()

df_no_duplicates = drop_duplicate_rows(df)
print("\nDataFrame after dropping duplicate rows:\n", df_no_duplicates.head())

DataFrame after dropping duplicate rows:
     Age Attrition     BusinessTravel  DailyRate              Department  \
0  41.0       Yes      Travel_Rarely       1102                   Sales
1  49.0        No  Travel_Frequently        279  Research & Development
2  37.0       Yes      Travel_Rarely       1373  Research & Development
3  33.0        No  Travel_Frequently       1392  Research & Development
4  27.0        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [28]:
# 13. Drop duplicate rows based on specific columns.
def drop_duplicate_rows_specific_columns(dataframe, column_names):
    return dataframe.drop_duplicates(subset=column_names)

df_no_duplicates_specific = drop_duplicate_rows_specific_columns(df, ['EmployeeNumber'])
print("\nDataFrame after dropping duplicate rows based on 'EmployeeNumber':\n", df_no_duplicates_specific.head())

DataFrame after dropping duplicate rows based on 'EmployeeNumber':
     Age Attrition     BusinessTravel  DailyRate              Department  \
0  41.0       Yes      Travel_Rarely       1102                   Sales
1  49.0        No  Travel_Frequently        279  Research & Development
2  37.0       Yes      Travel_Rarely       1373  Research & Development
3  33.0        No  Travel_Frequently       1392  Research & Development
4  27.0        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [30]:
# 14. Convert all string values in a column to lowercase.
def convert_column_to_lowercase(dataframe, column_name):
    dataframe[column_name] = dataframe[column_name].str.lower()
    return dataframe

df_lowercase = convert_column_to_lowercase(df, 'Department')
print("\nDataFrame after converting 'Department' column to lowercase:\n", df_lowercase.head())

DataFrame after converting 'Department' column to lowercase:
     Age Attrition     BusinessTravel  DailyRate              Department  \
0  41.0       Yes      Travel_Rarely       1102                   sales
1  49.0        No  Travel_Frequently        279  research & development
2  37.0       Yes      Travel_Rarely       1373  research & development
3  33.0        No  Travel_Frequently       1392  research & development
4  27.0        No      Travel_Rarely        591  research & development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [32]:
# 15. Remove leading and trailing spaces from string values in a column.
def strip_spaces_from_column(dataframe, column_name):
    dataframe[column_name] = dataframe[column_name].str.strip()
    return dataframe

df_stripped = strip_spaces_from_column(df, 'Department')
print("\nDataFrame after stripping spaces from 'Department' column:\n", df_stripped.head())

DataFrame after stripping spaces from 'Department' column:
     Age Attrition     BusinessTravel  DailyRate              Department  \
0  41.0       Yes      Travel_Rarely       1102                   sales
1  49.0        No  Travel_Frequently        279  research & development
2  37.0       Yes      Travel_Rarely       1373  research & development
3  33.0        No  Travel_Frequently       1392  research & development
4  27.0        No      Travel_Rarely        591  research & development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

## From 16 to 29 Using different dataset

In [34]:
import pandas as pd
df = pd.read_csv('kc_house_data.csv')
print(df.head())

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]

In [40]:
# 16. Replace a specific substring in a column with another substring.
def replace_substring_in_column(dataframe, column_name, to_replace, replacement):
    dataframe[column_name] = dataframe[column_name].str.replace(to_replace, replacement)
    return dataframe

df['zipcode'] = df['zipcode'].astype(str)  # Ensure the column is of string type
df = replace_substring_in_column(df, 'zipcode', '980', '990')
print(df[['zipcode']].head())

  zipcode
0   98178
1   98125
2   99028
3   98136
4   99074

In [38]:
# 17. Extract a substring from each value in a column.
def extract_substring_from_column(dataframe, column_name, start, end):
    dataframe[column_name + '_substring'] = dataframe[column_name].str[start:end]
    return dataframe

df['zipcode_substring'] = df['zipcode'].str[0:3]
print(df[['zipcode', 'zipcode_substring']].head())

  zipcode zipcode_substring
0   98178               981
1   98125               981
2   99028               990
3   98136               981
4   99074               990

In [42]:
# 18. Convert a column to datetime format.
def convert_column_to_datetime(dataframe, column_name):
    dataframe[column_name] = pd.to_datetime(dataframe[column_name])
    return dataframe
    
df = convert_column_to_datetime(df, 'date')
print(df[['date']].head())

        date
0 2014-10-13
1 2014-12-09
2 2015-02-25
3 2014-12-09
4 2015-02-18

In [44]:
# 19. Extract year, month, and day from a datetime column.
def extract_date_parts(dataframe, column_name):
    dataframe['Year'] = dataframe[column_name].dt.year
    dataframe['Month'] = dataframe[column_name].dt.month
    dataframe['Day'] = dataframe[column_name].dt.day
    return dataframe

df = extract_date_parts(df, 'date')
print(df[['date', 'Year', 'Month', 'Day']].head())

        date  Year  Month  Day
0 2014-10-13  2014     10   13
1 2014-12-09  2014     12    9
2 2015-02-25  2015      2   25
3 2014-12-09  2014     12    9
4 2015-02-18  2015      2   18

In [46]:
# 20. Filter rows based on a date range.
def filter_rows_by_date_range(dataframe, column_name, start_date, end_date):
    mask = (dataframe[column_name] >= start_date) & (dataframe[column_name] <= end_date)
    return dataframe.loc[mask]

df_filtered_dates = filter_rows_by_date_range(df, 'date', '2014-01-01', '2015-01-01')
print(df_filtered_dates.head())

           id       date      price  bedrooms  bathrooms  sqft_living  \
0  7129300520 2014-10-13   221900.0         3       1.00         1180
1  6414100192 2014-12-09   538000.0         3       2.25         2570
3  2487200875 2014-12-09   604000.0         4       3.00         1960
5  7237550310 2014-05-12  1225000.0         4       4.50         5420
6  1321400060 2014-06-27   257500.0         3       2.25         1715

   sqft_lot  floors  waterfront  view  ...  yr_renovated  zipcode      lat  \
0      5650     1.0           0     0  ...             0    98178  47.5112
1      7242     2.0           0     0  ...          1991    98125  47.7210
3      5000     1.0           0     0  ...             0    98136  47.5208
5    101930     1.0           0     0  ...             0    99053  47.6561
6      6819     2.0           0     0  ...             0    99003  47.3097

      long  sqft_living15  sqft_lot15 zipcode_substring  Year  Month  Day
0 -122.257           1340        5650               981  2014     10   13
1 -122.319           1690        7639               981  2014     12    9
3 -122.393           1360        5000               981  2014     12    9
5 -122.005           4760      101930               990  2014      5   12
6 -122.327           2238        6819               990  2014      6   27

[5 rows x 25 columns]

In [48]:
# 21. Convert a categorical column to numerical using one-hot encoding.
def one_hot_encode_column(dataframe, column_name):
    return pd.get_dummies(dataframe, columns=[column_name])

df_one_hot_encoded = one_hot_encode_column(df, 'zipcode')
print(df_one_hot_encoded.head())

           id       date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520 2014-10-13  221900.0         3       1.00         1180
1  6414100192 2014-12-09  538000.0         3       2.25         2570
2  5631500400 2015-02-25  180000.0         2       1.00          770
3  2487200875 2014-12-09  604000.0         4       3.00         1960
4  1954400510 2015-02-18  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  zipcode_99056  zipcode_99058  \
0      5650     1.0           0     0  ...          False          False
1      7242     2.0           0     0  ...          False          False
2     10000     1.0           0     0  ...          False          False
3      5000     1.0           0     0  ...          False          False
4      8080     1.0           0     0  ...          False          False

   zipcode_99059  zipcode_99065  zipcode_99070  zipcode_99072  zipcode_99074  \
0          False          False          False          False          False
1          False          False          False          False          False
2          False          False          False          False          False
3          False          False          False          False          False
4          False          False          False          False           True

   zipcode_99075  zipcode_99077  zipcode_99092
0          False          False          False
1          False          False          False
2          False          False          False
3          False          False          False
4          False          False          False

[5 rows x 94 columns]

In [50]:
# 22. Convert a categorical column to numerical using label encoding.
from sklearn.preprocessing import LabelEncoder

def label_encode_column(dataframe, column_name):
    le = LabelEncoder()
    dataframe[column_name] = le.fit_transform(dataframe[column_name])
    return dataframe

df['zipcode'] = df['zipcode'].astype(str)  # Ensure the column is of string type
df_label_encoded = label_encode_column(df, 'zipcode')
print(df_label_encoded[['zipcode']].head())

   zipcode
0       25
1       14
2       45
3       17
4       66

In [52]:
# 23. Group values in a categorical column and create a new column with grouped categories.
def group_values_in_column(dataframe, column_name, groups):
    dataframe[column_name + '_grouped'] = dataframe[column_name].map(groups)
    return dataframe

df['zipcode'] = df['zipcode'].astype(str)

zipcode_groups = {zipcode: f'Group {zipcode[:3]}' for zipcode in df['zipcode'].unique()}

df_grouped = group_values_in_column(df, 'zipcode', zipcode_groups)
print(df_grouped[['zipcode', 'zipcode_grouped']].head())

  zipcode zipcode_grouped
0      25        Group 25
1      14        Group 14
2      45        Group 45
3      17        Group 17
4      66        Group 66

In [54]:
# 24. Merge two DataFrames based on a common column.
additional_data = pd.DataFrame({
    'id': df['id'],
    'new_feature': range(len(df))
})

def merge_dataframes(df1, df2, column_name):
    return pd.merge(df1, df2, on=column_name)

df_merged = merge_dataframes(df, additional_data, 'id')
print(df_merged.head())

           id       date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520 2014-10-13  221900.0         3       1.00         1180
1  6414100192 2014-12-09  538000.0         3       2.25         2570
2  5631500400 2015-02-25  180000.0         2       1.00          770
3  2487200875 2014-12-09  604000.0         4       3.00         1960
4  1954400510 2015-02-18  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...      lat     long  sqft_living15  \
0      5650     1.0           0     0  ...  47.5112 -122.257           1340
1      7242     2.0           0     0  ...  47.7210 -122.319           1690
2     10000     1.0           0     0  ...  47.7379 -122.233           2720
3      5000     1.0           0     0  ...  47.5208 -122.393           1360
4      8080     1.0           0     0  ...  47.6168 -122.045           1800

   sqft_lot15  zipcode_substring  Year Month  Day  zipcode_grouped  \
0        5650                981  2014    10   13         Group 25
1        7639                981  2014    12    9         Group 14
2        8062                990  2015     2   25         Group 45
3        5000                981  2014    12    9         Group 17
4        7503                990  2015     2   18         Group 66

   new_feature
0            0
1            1
2            2
3            3
4            4

[5 rows x 27 columns]

In [56]:
# 25. Concatenate two DataFrames vertically.
def concatenate_dataframes_vertically(df1, df2):
    return pd.concat([df1, df2], axis=0)
    
df_concatenated_vertically = concatenate_dataframes_vertically(df, df)
print(df_concatenated_vertically.shape)

(43226, 26)

In [58]:
# 26. Concatenate two DataFrames horizontally.
def concatenate_dataframes_horizontally(df1, df2):
    return pd.concat([df1, df2], axis=1)

df_concatenated_horizontally = concatenate_dataframes_horizontally(df, additional_data)
print(df_concatenated_horizontally.shape)

(21613, 28)

In [60]:
# 27. Create a new column based on existing columns.
def create_new_column_based_on_existing(df):
    df['price_per_sqft'] = df['price'] / df['sqft_living']
    return df

df_new_column = create_new_column_based_on_existing(df)
print(df_new_column[['price', 'sqft_living', 'price_per_sqft']].head())

      price  sqft_living  price_per_sqft
0  221900.0         1180      188.050847
1  538000.0         2570      209.338521
2  180000.0          770      233.766234
3  604000.0         1960      308.163265
4  510000.0         1680      303.571429

In [62]:
# 28. Discretize a continuous column into bins.
def discretize_column(dataframe, column_name, bins, labels):
    dataframe[column_name + '_binned'] = pd.cut(dataframe[column_name], bins=bins, labels=labels)
    return dataframe

bins = [0, 500000, 1000000, 1500000, 2000000, 3000000]
labels = ['0-500K', '500K-1M', '1M-1.5M', '1.5M-2M', '2M-3M']
df_binned = discretize_column(df, 'price', bins, labels)
print(df_binned[['price', 'price_binned']].head())

      price price_binned
0  221900.0       0-500K
1  538000.0      500K-1M
2  180000.0       0-500K
3  604000.0      500K-1M
4  510000.0      500K-1M

In [64]:
# 29. Create polynomial features from existing numerical columns.
from sklearn.preprocessing import PolynomialFeatures

def create_polynomial_features(dataframe, column_names, degree):
    poly = PolynomialFeatures(degree)
    poly_features = poly.fit_transform(dataframe[column_names])
    poly_feature_names = poly.get_feature_names_out(column_names)
    poly_df = pd.DataFrame(poly_features, columns=poly_feature_names)
    return pd.concat([dataframe, poly_df], axis=1)
    
df_poly_features = create_polynomial_features(df, ['sqft_living', 'price'], degree=2)
print(df_poly_features.head())

           id       date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520 2014-10-13  221900.0         3       1.00         1180
1  6414100192 2014-12-09  538000.0         3       2.25         2570
2  5631500400 2015-02-25  180000.0         2       1.00          770
3  2487200875 2014-12-09  604000.0         4       3.00         1960
4  1954400510 2015-02-18  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  Day  zipcode_grouped  \
0      5650     1.0           0     0  ...   13         Group 25
1      7242     2.0           0     0  ...    9         Group 14
2     10000     1.0           0     0  ...   25         Group 45
3      5000     1.0           0     0  ...    9         Group 17
4      8080     1.0           0     0  ...   18         Group 66

   price_per_sqft  price_binned    1  sqft_living     price  sqft_living^2  \
0      188.050847        0-500K  1.0       1180.0  221900.0      1392400.0
1      209.338521       500K-1M  1.0       2570.0  538000.0      6604900.0
2      233.766234        0-500K  1.0        770.0  180000.0       592900.0
3      308.163265       500K-1M  1.0       1960.0  604000.0      3841600.0
4      303.571429       500K-1M  1.0       1680.0  510000.0      2822400.0

   sqft_living price       price^2
0       2.618420e+08  4.923961e+10
1       1.382660e+09  2.894440e+11
2       1.386000e+08  3.240000e+10
3       1.183840e+09  3.648160e+11
4       8.568000e+08  2.601000e+11

[5 rows x 34 columns]