## DATA WRANGLING

In [3]:
import pandas as pd
import numpy as np

In [11]:
# Create DataFrame 1
data1 = {
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [24, 27, 22, 32]
}
df1 = pd.DataFrame(data1)

# Create DataFrame 2
data2 = {
    'id': [3, 4, 5, 6],
    'name': ['Charlie', 'David', 'Edward', 'Frank'],
    'salary': [50000, 60000, 70000, 80000]
}
df2 = pd.DataFrame(data2)

print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

DataFrame 1:
   id     name  age
0   1    Alice   24
1   2      Bob   27
2   3  Charlie   22
3   4    David   32

DataFrame 2:
   id     name  salary
0   3  Charlie   50000
1   4    David   60000
2   5   Edward   70000
3   6    Frank   80000

In [15]:
#1. Merge two DataFrames on a single key.

df_merged_single_key = pd.merge(df1, df2, on='id')
print("\nMerged on single key (id):")
print(df_merged_single_key)

Merged on single key (id):
   id   name_x  age   name_y  salary
0   3  Charlie   22  Charlie   50000
1   4    David   32    David   60000

In [17]:
#2. Merge two DataFrames on multiple keys.

df1['dept'] = ['HR', 'IT', 'Finance', 'IT']
df2['dept'] = ['Finance', 'IT', 'HR', 'Finance']

df_merged_multiple_keys = pd.merge(df1, df2, on=['id', 'dept'])
print("\nMerged on multiple keys (id and dept):")
print(df_merged_multiple_keys)

Merged on multiple keys (id and dept):
   id   name_x  age     dept   name_y  salary
0   3  Charlie   22  Finance  Charlie   50000
1   4    David   32       IT    David   60000

In [21]:
#3. Perform an outer join, inner join, left join, and right join.
df_outer_join = pd.merge(df1, df2, on='id', how='outer')
print("\nOuter Join:")
print(df_outer_join)

df_inner_join = pd.merge(df1, df2, on='id', how='inner')
print("\nInner Join:")
print(df_inner_join)

df_left_join = pd.merge(df1, df2, on='id', how='left')
print("\nLeft Join:")
print(df_left_join)

df_right_join = pd.merge(df1, df2, on='id', how='right')
print("\nRight Join:")
print(df_right_join)

Outer Join:
   id   name_x   age   dept_x   name_y   salary   dept_y
0   1    Alice  24.0       HR      NaN      NaN      NaN
1   2      Bob  27.0       IT      NaN      NaN      NaN
2   3  Charlie  22.0  Finance  Charlie  50000.0  Finance
3   4    David  32.0       IT    David  60000.0       IT
4   5      NaN   NaN      NaN   Edward  70000.0       HR
5   6      NaN   NaN      NaN    Frank  80000.0  Finance

Inner Join:
   id   name_x  age   dept_x   name_y  salary   dept_y
0   3  Charlie   22  Finance  Charlie   50000  Finance
1   4    David   32       IT    David   60000       IT

Left Join:
   id   name_x  age   dept_x   name_y   salary   dept_y
0   1    Alice   24       HR      NaN      NaN      NaN
1   2      Bob   27       IT      NaN      NaN      NaN
2   3  Charlie   22  Finance  Charlie  50000.0  Finance
3   4    David   32       IT    David  60000.0       IT

Right Join:
   id   name_x   age   dept_x   name_y  salary   dept_y
0   3  Charlie  22.0  Finance  Charlie   50000  Finance
1   4    David  32.0       IT    David   60000       IT
2   5      NaN   NaN      NaN   Edward   70000       HR
3   6      NaN   NaN      NaN    Frank   80000  Finance